@import "./colors.scss";

.btn {
  padding: 4px 10px;
  margin: 10px auto;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  color: aliceblue;
  cursor: pointer;

  &-primary {
    background-color: $primary;
  }
  &-secondary {
    background-color: $secondary;
  }
  &-success {
    background-color: $success;
  }
  &-info {
    background-color: $info;
  }
  &-warning {
    background-color: $warning;
  }
  &-danger {
    background-color: $danger;
  }
  &-light {
    background-color: $light;
    color: black;
  }
  &-dark {
    background-color: $dark;
  }
}
